html, body {
    margin:0;
    height:100%;
}
header {
    width: 100%;
    background-color: rgb(43, 43, 43);
    color: rgb(197, 197, 197);
}

header a {
    color:rgb(197, 197, 197);
}

body {
    font-family:Arial, Helvetica, sans-serif
}

.top_container, .main_container{
    width:100%;
    padding: 0 80px 0 80px;
    margin:0 auto;
    box-sizing: border-box;
}

.header_left, .header_center, .header_right {
    width:33%;
    display: inline-block;
    box-sizing: border-box;
    margin:0 ;
    padding: 0 0;
    vertical-align:middle;
    
}

.header_center {
    text-align: center;
}

.header_right {
    text-align: right;
}

.sidebar, .content {
    display: inline-block;
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
    vertical-align: top;
}


.sidebar{
    width: 300px; 
    max-width: 300px 30%;
}

.content{
    width: 80%;
    height: 80%;
    text-align: center;
    
}


a {
    color:rgb(7, 5, 41)
}

table {
    width: 100%;
}

tr {
    height: 50px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th, td { padding: 7px 7px 7px 7px; }


tr:nth-child(odd) { background-color: #dfdfdf; }

tr:not(:first-child):hover {
    background-color: rgb(139, 139, 139);
}

/*
tr:hover { background-color: #8e8ea0; }

tr:first-child:hover {
    background-color: white;
}

*/

#firstid {
    size: 45px;
    font-size: 12;
}


button {

}