{% extends "index.html" %}

<html>
<head>
    <title>
    {% block title %}
        Новый документ
    {% endblock %}
    </title>
</head>

<body>
{% block content %}
    <h2>Создать документ:</h2>
    <form action="{% url 'doc_manager:document_new_save' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Проект</td>
                <td>{{ project.name_full }}</td>
            </tr>
            <tr>
                <td>Здание</td>
                <td>
                    <select name="building" required>
                        {% for building in buildings %}
                            <option name="building" value={{ building.id }}>{{ building.code }} - {{ building.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Код документа</td>
                <td><input name="code" required></td>
            </tr>
            <tr>
                <td>Наименование</td>
                <td><input name="name" required></td>
            </tr>
            <tr>
                <td>Создал</td>
                <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
            </tr>
        </table>
        <br>
        <button type="submit">Создать документ</button>
    </form>
{% endblock %}

</body>
</html>
</html>