{% extends "index.html" %}

<html>
<head>
<title>
{% block title %}
Все документы
{% endblock %}
</title>

</head>

<body>
{% block content %}
	<h3>Найдены следующие документы:</h3>

	<table>
	<tr>
		<th>KKS код</th>
		<th>Наименование</th>
		<th>Разработчик</th>
		<th>Статус</th>
		<th>Дата создания</th>
		<th>Дата изменения</th>
	</tr>

	{% for document in documents %}
		<tr>
			<td><a href="{% url 'doc_manager:document_detail' document.id %}">{{ document.code }}</a></td>
			<td>{{ document.name }}</td>
			<td>{{ document.developer }}</td>
			<td>{{ document.status.name }}</td>
			<td>{{ document.date_creation }}</td>
			<td>{{ document.date_update }}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}

</body>
</html>