{% extends "index.html" %}

<html>
<head>
    <title>
    {% block title %}
        Файлы
    {% endblock %}
    </title>
</head>

<body>
{% block content %}
    <h2><a href="{{ file.file.url }}" target="_blank"> Файл {{ file.file }}</a></h2>
    <p>Alternative text - include a link <a href="https://www.africau.edu/images/default/sample.pdf" target="_blank">to the PDF!</a></p>
    <object  data="https://www.africau.edu/images/default/sample.pdf" type="application/pdf" width="100%" height="1000px"></object>


{% endblock %}

</body>
</html>


